<div class="col-md-8 col-md-offset-2">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" class="form-control" formControlName="title" placeholder="Title">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="label">Label</label>
                    <select class="form-control" [(ngModel)]="selectedLabel" formControlName="label" id="label">
                        <option *ngFor="let label of labels" [ngValue]="label">{{label.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="title">Catalog</label>
                    <input type="text" id="catalog" class="form-control" formControlName="catalog" placeholder="Catalog">
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-danger" (click)="onClear(f)">Clear</button>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
    <hr>
    <p>Form value: {{ form.value | json }}</p>
    <p>Release: {{ selectedRelease | json }}</p>
</div>