<div class="col-md-8 col-md-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" class="form-control" [ngModel]="release?.title" name="title" required placeholder="Title">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="label">Label</label>
                    <select class="form-control" [ngModel]="release?.labelId" name="label" id="label">
                        <option *ngFor="let label of labels" [value]="label.labelId">{{label.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-gourp">
                    <label for="title">Catalog</label>
                    <input type="text" id="catalog" class="form-control" [ngModel]="release?.catalog" name="catalog" required placeholder="Catalog">
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-danger" (click)="onClear(f)">Clear</button>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>